<div class="mobile-container">

    <div class="mobile-header">
        <span class="mobile-notch"></span>
        <div class="contact-info">
            <div class="contact-info-container">
                <i class="bi bi-chevron-compact-left"></i>
                <img src="/assets/img/avatar.jpg" alt="profile picture" class="avatar">
                <div class="name-container">
                    <span class="name">Samuel Green</span>
                    <span class="availability">Available to Walk</span>
                </div>
                <i class="bi bi-three-dots-vertical"></i>
            </div>
        </div>
    </div>

    <div class="mobile-body">

        <div class="mobile-body-container">

            <span class="message">
                That sounds great. I'd be happy to discuss more.
            </span>

            <span class="message">
                Could you send over some pictures of your dog, please?
            </span>

            <span class="message left-message">
                Here are a few pictures. She's a happy girl!
            </span>
          
            <span class="message left-message">
                Can you make it?
            </span>
          
            <span class="message">
                She looks so happy! The time we discussed works. How long shall I take her out for?
            </span>

            <span class="message">
                30 minute walk
                $29
            </span>
          
            <span class="message">
                1 hour walk
                $49
            </span>

        </div>

    </div>

</div>