.mobile-container {

    width: 300px;
    height: 620px;
    border-radius: 35px;
    background-color: var(--white);
    padding: 1em;
    -webkit-box-shadow: 7px 7px 18px 6px rgba(0,0,0,0.14);
    -moz-box-shadow: 7px 7px 18px 6px rgba(0,0,0,0.14);
    box-shadow: 7px 7px 18px 6px rgba(0,0,0,0.14);
    display: flex;
    flex-direction: column;
    cursor: default;

    .mobile-header {

        height: 14%;
        min-height: 14%;
        border-radius: 20px 20px 5px 5px;
        background-image: linear-gradient(to left, var(--light_magenta), var(--light_violet));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: var(--light_grayish_violet);

        .mobile-notch {

            background-color: var(--white);
            width: 65%;
            height: 30%;
            border-radius: 0px 0px 20px 20px;

        }

        .contact-info {

            flex-grow: 1;
            width: 100%;

            .contact-info-container {

                & > i {

                    -webkit-text-stroke: 1px;

                }
                
                display: flex;
                height: 100%;
                padding: 0px 1em;
                align-items: center;
                column-gap: 0.5em;
                
                .avatar {
    
                    width: 1.6em;
                    height: 1.6em;
                    border-radius: 50%;
                    border: 1px solid var(--light_grayish_violet);
    
                }
    
                .name-container {
    
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
    
                    .name {
    
                        font-weight: bold;
    
                    }
    
                    .availability {
    
                        font-size: 0.7em;
                        color: var(--pale_violet);
    
                    }
    
                }

            }

        }

    }

    .mobile-body {

        flex-grow: 1;
        padding: 0.5em;
        border-radius: 5px 5px 20px 20px;
        background-color: var(--light_grayish_violet);
        font-size: 0.7em;
        display: flex;
        flex-direction: column;

        .mobile-body-container {
            
            display: flex;
            flex-direction: column;
            row-gap: 0.8em;
            flex-grow: 1;
            padding: 0.5em;
            overflow: hidden;

            .foto-message {

                display: flex;
                column-gap: 1em;
                align-self: flex-end;
                
                img {
                    
                    border-radius: 10px;
                    width: 4em;
                    height: 4em;
                    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
                    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
                    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);

                }

            }

            .message {

                max-width: 60%;
                border-radius: 15px 15px 15px 5px;
                color: var(--moderate_violet);
                background-color: hsl(276, 100%, 81%, 0.15);
                padding: 1em;
                -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.1);
                box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.1);

            }

            .message-animation-left {

                opacity: 1;
                position: relative;
                top: 0px;
                left: 0px;
                animation: messageAnimationLeft;
                animation-duration: 1s;

            }

            .message-animation-right {

                opacity: 1;
                position: relative;
                top: 0px;
                left: 0px;
                animation: messageAnimationRight;
                animation-duration: 1s;

            }

            .radio-message {

                color: var(--light_grayish_violet);
                background-image: linear-gradient(to right, var(--light_magenta), var(--light_violet));
                display: flex;
                column-gap: 1em;
                align-items: center;

                .radio-circle {
                    border: 2px solid var(--very_light_magenta);
                    width: 1em;
                    height: 1em;
                    border-radius: 50%;
                }

                .radio-message-text {

                    flex-grow: 1;

                }

                .radio-message-price {

                    font-size: 16px;
                    font-weight: bold;
                    margin-right: 0.5em;

                }

            }

            .right-message {

                color: var(--desaturated_dark_violet);
                background-color: var(--white);
                align-self: flex-end;
                -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
                box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
                border-radius: 15px 15px 5px 15px;

            }

        }

        .input-container {

            border-radius: 50px;
            margin: 0px 0.5em 0.5em 0.5em;
            background-color: var(--white);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.6em;
            font-size: 14px;
            -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);

            .input-placeholder {

                color: var(--grayish_blue);
                margin: 0.5em 0px 0em 1.5em;

            }

            .send-message-button {

                background-color: var(--very_dark_desaturated_violet);
                border-radius: 50%;
                width: 2.7em;
                height: 2.7em;
                color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                i {

                    -webkit-text-stroke: 2px;
                    
                }

            }

        }

    }

}

.noDisplay {

    display: none !important;

}

@keyframes messageAnimationLeft {
    0% {
        opacity: 0;
        left: -100%;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}

@keyframes messageAnimationRight {
    0% {
        opacity: 0;
        left: 100%;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        left: 0px;
    }
}