<cac-main-background></cac-main-background>
<div class="main-container">
    
    <cac-mobile></cac-mobile>

    <div class="text-container">
    
        <h1 class="title-text-container">Simple booking</h1>
    
        <p class="sentence-text-container">
            Stay in touch with our dog walkers through the chat
            interface. This makes it easy to discuss arrangements
            and make bookings. Once the walk has been completed you can
            rate the walker and book again all through the chat.
        </p>
    
    </div>

</div>