@import '../../assets/styles/animations.scss';

:host {

    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-container {
        
        position: relative;
        margin: 2em 0px;
        transition: width 1s;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10%;
        row-gap: 3em;
        justify-content: center;
        align-items: center;
        animation: fadeInAnimation 2s ease;

        .text-container {
    
            width: 30%;
            display: flex;
            flex-direction: column;
            row-gap: 1em;
    
            .title-text-container {
                
                margin: 0px;
                font-size: 2.5em;
                font-weight: bold;
    
            }
    
            .sentence-text-container {
    
                margin: 0px;
                color: var(--dark_grayish_violet);
                line-height: 2em;
    
            }
    
        }

    }

}

@media (max-width: 900px) {
 
    .main-container {

        width: 90%;

        .text-container {

            width: 100% !important;
            text-align: center;

        }

    }
 
}